{% extends "base.html.twig" %}

{% block title %}Twenty-One Game{% endblock %}

{% block body %}

<h1>Twenty-One [PLAYING]</h1>

{% if cardhand is not empty %}

    <p>Cards in hand</p>
    {% for cards in cardhand %}

        <img class="cg-img" src="{{ asset('img/cards/' ~ cards ~ '.svg') }}" alt="{{ cards }}">

    {% endfor %}

{% else %}

    <p>Please start by drawing a card from the deck.</p>

{% endif %}

<p>Currentpoints in hand {{ points }}</p>

<p>SKALL TAS BORT -- Cards in deck {{ amount }} </p>


{% if points <= 21 %}

<p>What do you wish to do?</p>

<form method="post" action="">
    <ul class="game-buttons">
        <li>
            <input type="submit" name="draw" value="Draw"
                onClick="this.form.action='{{ path('game_draw') }}';"
            > 
        </li>
        <li>
            <input type="submit" name="hold" value="Hold"
                onClick="this.form.action='{{ path('hold') }}';this.form.method='get';"
            >
        </li>
        <li>
            <input type="submit" name="restart" value="Restart"
                onClick="this.form.action='{{ path('play_post') }}';"
            >
        </li>
    </ul>
</form>

{% else %}

<p>
    <strong>You are above 21 and have automatically lost.</strong>
</p>

<form method="post" action="">
    <ul class="game-buttons">
        <li>
            <input type="submit" name="restart" value="Restart"
                onClick="this.form.action='{{ path('play_post') }}';"
            >
        </li>
    </ul>

{% endif %}


{% endblock %}
