{% extends "base.html.twig" %}

{% block title %}Twenty-One Game{% endblock %}

{% block body %}

<h1>Twenty-One [FINISHED]</h1>

<p>Banks hand</p>
<p>Points: {{ b_points }} </p>

<br>

{% for cards in b_hand %}

    <img class="cg-img" src="{{ asset('img/cards/' ~ cards ~ '.svg') }}" alt="{{ cards }}">

{% endfor %}

<br>

{% if b_points <= 21 and b_points >= p_points %}

<h2>=============== Bank Wins! ===============</h2>

{% else  %}

<h2>=============== Player Wins! ===============</h2>

{% endif %}

<p>Players hand</p>
<p>Points: {{ p_points }} </p>
<br>
{% for cards in p_hand %}

    <img class="cg-img" src="{{ asset('img/cards/' ~ cards ~ '.svg') }}" alt="{{ cards }}">

{% endfor %}

<p>
    <strong>Click on restart to play again, otherwise click on any of the links in the navbar.</strong>
</p>

<form method="post" action="">
    <ul class="game-buttons">
        <li>
            <input type="submit" name="restart" value="Restart"
                onClick="this.form.action='{{ path('play_post') }}';"
            >
        </li>
    </ul>
</form>

{% endblock %}
